<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <!-- optional styling to this site -->
        <link rel="shortcut icon" href="web.ico" type="image/x-icon">
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    </head>

    <body>
        <div align="center">
            <h2> 个人信息采集 </h2>
            <p> 请在下方框内输入相应信息</p>
            

            <form action="{@host}/messages" id="myForm" method="post">
                姓名：<input type="text" id="name" name="name" value="" required="true" maxlength="8" oninput="verify(name)"/> <span id="name_bar" style="font-size: 16pt;"></span><br>
                学号：<input type="text" id="stuid" name="stuid" value="" required="true" maxlength="13" oninput="verify(stuid)"/>            <span id="stuid_bar" style="font-size: 16pt;"></span><br>
                电话：<input type="text" id="tel" name="tel" value="" required="true" maxlength="11" oninput="verify(tel)"/>                  <span id="tel_bar" style="font-size: 16pt;"></span><br>
                邮箱：<input type="text" id="mail" name="mail" value="" required="true" maxlength="100" oninput="verify(mail)"/>              <span id="mail_bar" style="font-size: 16pt;"></span><br>
                兴趣：<input type="text" id="interest" name="interest" value="" required="true" maxlength="32" oninput="verify(interest)"/>   <span id="interest_bar" style="font-size: 16pt;"></span><br>
                <input type="button" value="提交" class="btn" style="margin-top: 20px;" onclick="OnClick()"/>
            </form>
        </div>
    </body>

    <!-- optional enhancement -->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="script.js"></script>
</html>